.span2
            .well(style='padding: 8px 0;')
              ul.nav.nav-list
                li.nav-header Administration
                li
                  a(href='http://localhost:1337/admin_dashboard')
                    i.icon-home
                    span Dashboard
                li
                  a(href='http://localhost:1337/admin_users')
                    i.icon-wrench
                    span Users
                li
                  a(href='http://localhost:1337/admin_pricing')
                    i.icon-shopping-cart
                    span Pricing
