.span2
            .well(style='padding: 8px 0;')
              ul.nav.nav-list
                li.nav-header Money Management
                li
                  a(href='http://localhost:1337/dashboard')
                    i.icon-home
                    span Dashboard
                li
                  a(href='http://localhost:1337/accounts')
                    i.icon-align-left
                    span Accounts
                li
                  a(href='http://localhost:1337/transactions')
                    i.icon-pencil
                    span Transactions
                li
                  a(href='http://localhost:1337/budget')
                    i.icon-signal
                    span Budget
                li
                  a(href='http://localhost:1337/reports')
                    i.icon-file
                    span Reports
                li.divider
                li.nav-header Administration
                li
                  a(href='http://localhost:1337/settings')
                    i.icon-wrench
                    span Settings
