.col-lg-2
    .panel
        .panel-heading Money Management
        ul.list-group.list-group-flush
            li.list-group-item
                a(href='/dashboard')
                    span.glyphicon.glyphicon-home
                    span &nbsp;Dashboard
            li.list-group-item
                a(href='/accounts')
                    span.glyphicon.glyphicon-align-left
                    span &nbsp;Accounts
            li.list-group-item
                a(href='/transactions/1')
                    span.glyphicon.glyphicon-pencil
                    span &nbsp;Transactions
            li.list-group-item
                a(href='/budget')
                    span.glyphicon.glyphicon-signal
                    span &nbsp;Budget
            li.list-group-item
                a(href='/reports')
                    span.glyphicon.glyphicon-file
                    span &nbsp;Reports
    .panel
        .panel-heading User Management
        ul.list-group.list-group-flush
            li.list-group-item
                a(href='/settings')
                    span.glyphicon.glyphicon-wrench
                    span &nbsp;Settings