link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
style.
  body {
    padding-top: 100px;
    padding-bottom: 40px;
  }
link(href='/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
link(href='/css/main.css', rel='stylesheet')
script(src='/js/libs/PBHelperTools.js')
//if lt IE 9
script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')