script(src='/js/libs/jquery-2.0.0.min.js')
script(src='/bootstrap/js/bootstrap.js')
script(src='/bootstrap/js/bootstrap-select.js')
script(src='/js/libs/select2.js')

script.
    $('.selectpicker').selectpicker();