header
      nav
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='') PicoBudget
              .nav-collapse
                ul.nav
                  li
                    a(href='/') Home
                  - if (!locals.user)
                    li
                      a(href='/login') Login / Registration
                  li
                    a(href='/faq') FAQ
                  li
                    a(href='/about') About
                  - if (locals.user)
                    li
                      a(href='/dashboard') Dashboard
