body {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background-color: #0F4F6F;
    margin: 0px 50px 0px 50px;
}

header {
    background-color: #FFFFFF;
    margin-bottom: 40px;
    height: 50px;
}

footer {
    background-color: #FFFFFF;
    margin-top: 40px;
}

header, section, footer,
aside, nav, article, figure {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    color: #0F4F6F;
}

h1 {
    width: 130%;
}

h2 {
    width: 100%;
}

h3 {
    width: 80%;
}

h4 {
    width: 70%;
}

h5 {
    width: 60%;
}

h6 {
    width: 50%;
}



#content {
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}
