doctype html
html(lang='en')
  head
    title About - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content
        h1 About
        p Here should be the about page.
      include includes/footer.jade

    include includes/bootstrap_jquery.jade
