doctype html
html(lang='en')
  head
    title About - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content
        h1 About
        - if (flash.error !== undefined)
          .alert-danger.alert#fail
            strong Oh no..
            br
            p #{flash.error}
        p Here should be the about page.
      include includes/footer.jade

    include includes/libs.jade
