doctype html
html(lang='en')
  head
    title Admin - Pricing - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/admin_sidebar.jade

          .span10
            h1 Pricing
            p Here should be the pricing overview.

      include includes/footer.jade

    include includes/bootstrap_jquery.jade
