doctype html
html(lang='en')
  head
    title Admin - Dashboard - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/admin_sidebar.jade

          .span10
            h1 Admin Dashboard
            p Here should be the general overview.

      include includes/footer.jade

    include includes/bootstrap_jquery.jade
