include includes/all_header.jade
  .row
    include includes/dashboard_sidebar.jade

    .col-lg-10
      h1 Budget

      ul(style='padding-top:20px;').nav.nav-tabs#tabnav
        li#overviewlink
          a(href='#') Overview
        li#earninglink
          a(href='#') Define earning
        li#spendinglink
          a(href='#') Define spending
      #overview
        h3 Earning - #{locals.currentMonth} #{locals.currentYear}
        table.table.table-hover
          thead
            tr
              th Name
              th Current
              th
          tbody
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
        h3 Spending - #{locals.currentMonth} #{locals.currentYear}
        table.table.table-hover
          thead
            tr
              th Name
              th Current
              th
          tbody
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
            tr
              td Foo
              td Bar
              td Progress bar!! xx %
      #earning
        h3 Here comes earning def!
      #spending
        h3 Here comes spending def!


include includes/all_footer.jade

script.
  (function() {
    PBHelperTools.toggleBudgetNavigationTabs();
  })();
