doctype html
html(lang='en')
  head
    title Dashboard - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            h1 Account Overview
            p Here should be the overview over all accounts. You can manage the accounts under "Accounts".
            hr
            h1 Recent transactions
            p Here should be the recent 5 transactions in a table.

      include includes/footer.jade

    include includes/bootstrap_jquery.jade
