doctype html
html(lang='en')
  head
    title FAQ - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content
        h1 FAQ
        p Here should be the FAQ page.
      include includes/footer.jade

    include includes/bootstrap_jquery.jade
