doctype html
html(lang='en')
  head
    title Forgot password - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade
    .container
      section#content
        - if (flash.error !== undefined)
          .alert-danger.alert#fail
            strong Oh no..
            br
            p #{flash.error}
        - if (flash.success !== undefined)
          .alert-success.alert#success
            strong Yeah!
            br
            p #{flash.success}
        .row
          .span10
            h1 Reset password
            p Please provide your email address so we can send you a new password.
            form.form-horizontal(id='loginform', method='POST', action='/resetPassword', onsubmit="return PBHelperTools.validateForgotPassword();")
              fieldset
                .control-group#cg-email
                  label.control-label(for='emailInput') eMail
                  .controls
                    input.input-xlarge#emailInput(type='email', name='emailInput')
                .control-group
                .form-actions
                  button.btn.btn-info(type='submit') Send password reset mail


      include includes/footer.jade

    include includes/libs.jade