doctype html
html(lang='en')
  head
    title Forgot password - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade
    .container
      section#content
        - if (flash.error !== undefined)
          .alert-danger.alert#fail
            strong Oh no..
            br
            p #{flash.error}
        - if (flash.success !== undefined)
          .alert-success.alert#success
            strong Yeah!
            br
            p #{flash.success}
        .row
          .col-lg-10
            h1 Reset password
            p Please provide your email address so we can send you a new password.
            form(id='loginform', method='POST', action='/resetPassword', onsubmit="return PBHelperTools.validateForgotPassword();")
              fieldset
                .form-group#cg-email
                  label(for='emailInput') eMail
                  input.form-control#emailInput(type='email', name='emailInput')
                button.btn.btn-success(type='submit') Send password reset mail


      include includes/footer.jade

    include includes/libs.jade