doctype html
html(lang='en')
  head
    title Introduction - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content
      h1 Introduction
      p Here should be the introduction page.
      include includes/footer.jade

    include includes/bootstrap_jquery.jade
