include includes/all_header.jade
  h1 Introduction
  p Have you ever wondered where your hard earned money goes so suddenly?
  h3 Why should I use PicoBudget?
  ul
    li Add accounts and track your current balances
    li Track every money transaction you make
    li Tag the transactions and instantly see what you're spending money on
    li Not only textual, but also with charts!
  h3 Is PicoBudget free?
  p Yes. We might implement 'Premium' features, but for now PicoBudget is completely free. There are no hidden costs!
  h3 Can I host my own PicoBudget instance?
  p Absolutely, you can find the code at GitHub and use it absolutely for free on your own server:
  a(href='https://github.com/MichaelKohler/PicoBudget') https://github.com/MichaelKohler/PicoBudget

  h3 Try it now!
  p You can register with only your email and password.
  a.btn.btn-default(href='/login') Go to the registration page
