doctype html
html(lang='en')
  head
    title Login - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content

        section#loginForm
          .alert-error.alert.hidden#fillInAllInfo
            strong Error!
            br
            p Please fill in all the information!
          .alert-error.alert.hidden#passwordsDidntMatch
            strong Error!
            br
            p The passwords didn't match.
          - if (flash.success !== undefined)
            .alert-success.alert#success
              strong Well done!
              br
              p #{flash.success}
          - if (flash.error !== undefined)
            .alert-danger.alert#fail
              strong Oh no..
              br
              p #{flash.error}
          - if (flash.info !== undefined)
            .alert-info.alert#info
              strong Info
              br
              p #{flash.info}
          .row
            .span6
              h1 Login
              hr
              p If you already have an account, you can sign in here.
              form.form-horizontal(id='loginform', method='POST', action='/authenticated', onsubmit="return PBHelperTools.validateLogin();")
                fieldset
                  .control-group#cg-email
                    label.control-label(for='emailInput') eMail
                    .controls
                      input.input-xlarge#emailInput(type='email', name='emailInput')
                  .control-group#cg-password
                    label.control-label(for='passwordInput') Password
                    .controls
                      input.input-xlarge#passwordInput(type='password', name='passwordInput')
                  a(href='/forgotPassword') I don't remember my password
                  .control-group
                  .form-actions
                    button.btn.btn-info(type='submit') Login
            .span6
              h1 Register for free
              hr
              form.form-horizontal(id='registrationform', method='POST', action='/registered', onsubmit="return PBHelperTools.validateRegistration();")
                fieldset
                  .control-group#cg-email-reg
                    label.control-label(for='emailInputReg') eMail
                    .controls
                      input.input-xlarge#emailInputReg(type='email', name='emailInputReg')
                  .control-group#cg-password-reg
                    label.control-label(for='passwordInputReg') Password
                    .controls
                      input.input-xlarge#passwordInputReg(type='password', name='passwordInputReg')
                  .control-group#cg-passwordconfirm-reg
                    label.control-label(for='passwordConfirmInputReg') Confirm password
                    .controls
                      input.input-xlarge#passwordConfirmInputReg(type='password', name='passwordConfirmInputReg')
                  .form-actions
                      button.btn.btn-info(type='submit') Login
      include includes/footer.jade

    include includes/libs.jade