doctype html
html(lang='en')
  head
    title Login - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content

        section#loginForm
          .alert-info.alert#loggedOut
            button.close(date-dismiss='alert') ×
            strong Logged out!
            br
            p You have been logged out. You can always log back in.
          .alert-error.alert#fillInAllInfo
            button.close(date-dismiss='alert') ×
            strong Error!
            br
            p Please fill in all the information!
          .alert-error.alert#credentialsWrong
            button.close(date-dismiss='alert') ×
            strong Error!
            br
            p Either the username or password were wrong! Please try again.
          .alert-error.alert#userNotCreated
            button.close(date-dismiss='alert') ×
            strong Error!
            br
            p The user could not be created. Please try again.
          .alert-error.alert#passwordsDidntMatch
              button.close(date-dismiss='alert') ×
              strong Error!
              br
              p The passwords didn't match.
          .row
            .span6
              h1 Login
              hr
              p If you already have an account, you can sign in here.
              form.form-horizontal(method='POST', action='http://localhost:1337/authenticated', onsubmit='return validateLoginForm();')
                fieldset
                  .control-group#cg-email
                    label.control-label(for='emailInput') eMail
                    .controls
                      input.input-xlarge#emailInput(type='text', name='emailInput')
                  .control-group#cg-password
                    label.control-label(for='passwordInput') Password
                    .controls
                      input.input-xlarge#passwordInput(type='password', name='passwordInput')
                  .control-group
                  .form-actions
                    button.btn(type='submit') Login
            .span6
              h1 Register for free
              hr
              form.form-horizontal(method='POST', action='http://localhost:1337/registered', onsubmit='return validateRegisterForm();')
                fieldset
                  .control-group#cg-email-reg
                    label.control-label(for='emailInputReg') eMail
                    .controls
                      input.input-xlarge#emailInputReg(type='text', name='emailInputReg')
                  .control-group#cg-password-reg
                    label.control-label(for='passwordInputReg') Password
                    .controls
                      input.input-xlarge#passwordInputReg(type='password', name='passwordInputReg')
                  .control-group#cg-passwordconfirm-reg
                    label.control-label(for='passwordConfirmInputReg') Confirm password
                    .controls
                      input.input-xlarge#passwordConfirmInputReg(type='password', name='passwordConfirmInputReg')
                  .form-actions
                      button.btn(type='submit') Login
      include includes/footer.jade

    include includes/bootstrap_jquery.jade

    script(type='text/javascript')
      // Extend JQuery to read GET parameters
      $.extend({
        getUrlVars: function(){
          var vars = [], hash;
          var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
          for(var i = 0; i < hashes.length; i++)
          {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
          }
          return vars;
        },
        getUrlVar: function(name){
          return $.getUrlVars()[name];
        }
      });

      // hide all notifications which should not be displayed
      if (typeof($.getUrlVar('loggedOut')) == 'undefined')
        $('#loggedOut').hide();
      if (typeof($.getUrlVar('wrongCredentials')) == 'undefined')
        $('#credentialsWrong').hide();
      if (typeof($.getUrlVar('userNotCreated')) == 'undefined')
        $('#userNotCreated').hide();

      $('#fillInAllInfo').hide();
      $('#passwordsDidntMatch').hide();

      // validate login form
      function validateLoginForm() {
        var state = false;

        if ($('#emailInput').val() != '' && $('#passwordInput').val() != '')
          state = true;
        else
          $('#fillInAllInfo').show(); // not all info entered -> show error

        if ($('#emailInput').val() == '')
          $('#cg-email').addClass('error'); // email was empty -> error
        else
          $('#cg-email').removeClass('error'); // email is not empty -> no error

        if ($('#passwordInput').val() == '')
          $('#cg-password').addClass('error'); // password was empty -> error
        else
          $('#cg-password').removeClass('error'); // password is not empty -> no error

        return state;
      }

      // validate register form
      function validateRegisterForm() {
        var state = false;

        if ($('#emailInputReg').val() != '' && $('#passwordInputReg').val() != ''
            && $('#passwordConfirmInputReg').val() != '')
          state = true;
        else
          $('#fillInAllInfo').show(); // not all info entered -> show error
        if (state)
          $('#fillInAllInfo').hide(); // all infos provided -> no error

        if ($('#passwordInputReg').val() != $('#passwordConfirmInputReg').val()) {
          state = false;
          $('#passwordsDidntMatch').show();
          $('#cg-password-reg').addClass('error');
          $('#cg-passwordconfirm-reg').addClass('error');
        }

        if ($('#emailInputReg').val() == '')
          $('#cg-email-reg').addClass('error'); // email was empty -> error
        else
          $('#cg-email-reg').removeClass('error'); // email is not empty -> no error

        return state;
      }
