include includes/all_header.jade
  - if (flash.error !== undefined)
    .alert-danger.alert#fail
      strong Oh no..
      br
      p #{flash.error}
  .row
    .col-lg-10
      h1 Enter new password
      p Please provide a new password for your account.
      form(id='loginform', method='POST', action='/savePassword', onsubmit="return PBHelperTools.validateNewPassword();")
        fieldset
          .form-group#cg-code
            input.form-control#codeInput(type='hidden', name='codeInput', value='#{locals.code}')
          .form-group#cg-password
            label(for='passwordInput') Password
            input.form-control#passwordInput(type='password', name='passwordInput')
          .form-group#cg-confirmpassword
            label(for='confirmPasswordInput') Confirm password
            input.form-control#confirmPasswordInput(type='password', name='confirmPasswordInput')
          button.btn.btn-success(type='submit') Save new password
include includes/all_header.jade