doctype html
html(lang='en')
  head
    title Premium - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/nav.jade

    .container
      section#content
        h1 Premium
        p Here should be the premium page.
      include includes/footer.jade

    include includes/libs.jade
