include includes/all_header.jade
  .row
    include includes/dashboard_sidebar.jade

    h1 Reports
    .row
        .col-lg-8
            #spendingperdaycontainer(style="min-width: 310px; height: 400px; margin: 0 auto")
            #earningperdaycontainer(style="min-width: 310px; height: 400px; margin: 5em auto")
            #spendingtagcontainer(style="min-width: 310px; height: 400px; margin: 5em auto")
            #earningtagcontainer(style="min-width: 310px; height: 400px; margin: 5em auto")
include includes/all_footer.jade
script(src='http://code.highcharts.com/highcharts.js')
script(src='/js/libs/reports.js', defer="defer")