doctype html
html(lang='en')
  head
    title Settings - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .span10
            h1 Settings
            p Here should be the settings overview.

      include includes/footer.jade

    include includes/bootstrap_jquery.jade
