doctype html
html(lang='en')
  head
    title Settings - PicoBudget - Expense tracking tool
    include includes/head.jade
  body
    include includes/dashboard_nav.jade
    .container
      section#content
        .row
          include includes/dashboard_sidebar.jade

          .row
            .span10
              h1 Settings
              hr
              - if (changed == true)
                .alert-success.alert#settingsChanged
                  button.close(date-dismiss='alert') ×
                  strong Settings changed!
                  br
                  p You're settings are saved.
              .alert-error.alert#fillInAllInfo
                button.close(date-dismiss='alert') ×
                strong Error!
                br
                p Please fill in all the information!
              .alert-error.alert#passwordsDidntMatch
                button.close(date-dismiss='alert') ×
                strong Error!
                br
                p The passwords didn't match.
              .alert-error.alert#oldPasswordNotOK
                button.close(date-dismiss='alert') ×
                strong Error!
                br
                p Your old password is not correct.
              .alert-error.alert#userNotRemoved
                button.close(date-dismiss='alert') ×
                strong Error!
                br
                p Your user account could not be removed! Did you enter a correct password?
              form.form-horizontal(method='POST', action='/settingsChanged', onsubmit='return validateSettingsForm();')
                fieldset
                  .control-group#cg-oldpassword
                    label.control-label(for='oldPasswordInput') Old password
                    .controls
                      input.input-xlarge#oldPasswordInput(type='password', name='oldPasswordInput')
                  .control-group#cg-newpassword
                    label.control-label(for='newPasswordInput') New password
                    .controls
                      input.input-xlarge#newPasswordInput(type='password', name='newPasswordInput')
                  .control-group#cg-confirmnewpassword
                    label.control-label(for='confirmNewPasswordInput') Confirm new password
                    .controls
                      input.input-xlarge#confirmNewPasswordInput(type='password', name='confirmNewPasswordInput')
                  .control-group#cg-prefCurr
                    label.control-label(for='prefCurrDropdown') Preferred currency
                    .controls
                      select(name='prefCurrDropdown')
                        for currency in currencies
                          - if (currency.ISO == user.prefCurr)
                            option(selected='true', value='#{currency.ISO}') #{currency.ISO}
                          - else
                            option(value='#{currency.ISO}') #{currency.ISO}
                  .control-group
                  .form-actions
                    button.btn.btn-info(type='submit') Change settings
        .row
          .span2(style='text-align:justify; padding-top: 40px;')
            p You can delete your account on the right hand side. We would like you to reconsider it, maybe getting in touch with us to instantly improve your experience would be enough for you? Feel free to contact us!
          .span10
            h3 Delete account
            hr
            .alert-warning.alert#disclaimer
              button.close(date-dismiss='alert') ×
              strong Attention!
              br
              - if (user.role == 'premium')
                p Deleting your account is permanent and deletes all the data which is stored in our database. You will not get any money back if you delete your account.
              - if (user.role == 'user')
                p Deleting your account is permanent and deletes all the data which is stored in our database.
             form.form-horizontal(method='POST', action='/userDeleted')
              fieldset
                .control-group#cg-password
                  label.control-label(for='passwordInput') Password
                  .controls
                    input.input-xlarge#passwordInput(type='password', name='passwordInput')
                .control-group
                .form-actions
                  button.btn.btn-danger(type='submit') Remove account!
       include includes/footer.jade

    include includes/bootstrap_jquery.jade

    script(type='text/javascript')
      // hide all notifications which should not be displayed
      if (typeof($.getUrlVar('oldPasswordNotOK')) == 'undefined')
        $('#oldPasswordNotOK').hide();
      if (typeof($.getUrlVar('removed')) == 'undefined')
        $('#userNotRemoved').hide();

      $('#fillInAllInfo').hide();
      $('#passwordsDidntMatch').hide();
 
      // validate settings form
      function validateSettingsForm() {
        var state = false;

        if ($('#newPasswordInput').val() != '') {
          if ($('#oldPasswordInput').val() != '' && $('#confirmNewPasswordInput').val() != '')
            state = true;
          else
            $('#fillInAllInfo').show(); // not all info entered -> show error

          if ($('#newPasswordInput').val() != $('#confirmNewPasswordInput').val()) {
            state = false;
            $('#passwordsDidntMatch').show(); // passwords didn't match -> show error
            $('#newPasswordInput').addClass('error');
            $('#confirmNewPasswordInput').addClass('error');
          }
        }
        else {
          state = true;
        }

        return state;
      }
